#logoGoogle{
    padding-top: 10em;
        max-width:30em;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
#searchBox{
    margin: auto;
    max-width: 40em;
    border: 3px solid green;
    padding: 10px;
  
}
#box{
    padding: 0.2em; 
    box-sizing: border-box;
    width: 95% ;
}
.buttoms{
   text-align: center;
    padding-top: 1em;
    
  
}
#search{

    font-size: 20px;
  
}

body{
    background-color: aqua;
}